.stats {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.stats__cards-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 25px;
  gap: 10px;
}

.stats__charts-container {
  display: flex;
  width: 100%;
  gap: 20px;
}
